<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Mobilization2017-iOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Mobilization2017-macOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Mobilization2017iOSDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Mobilization2017macDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DD2A77B21F99044F00738BD3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DD2A77BB1F99044F00738BD3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DD2A78111F99085000738BD3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DD7DEB111F9A76DA00C1068F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
